/* 
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Niconne', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Acme', sans-serif;
 */

*::-webkit-scrollbar {
  width: 6px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: -2px; 
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: -2px;
}

.logo {
  font-family: "Niconne", cursive;
  font-size: 40px;
  margin: 0;
  font-weight: 500;
  color: white;
}

/* navbar */
.ESNavbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  opacity: 85%;
}

.ESNavbarIcon {
  color: white;
  transition: transform 0.2s;
}
.ESNavbarIcon:hover {
  transform: scale(1.15);
}

/* EventCards */

.ESEventCard {
  min-width: 150px;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.ESEventCard:hover {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.253) !important;
}

.CardImage {
  width: 100%;
  background-size: 100%;
  transform: scale(1);
  transition: transform 0.2s;
}

.overflow {
  overflow: hidden;
}

.CardImage:hover {
  transform: scale(1.02);
}

.CardIconsDiv {
  text-align: center;
  margin-top: 10px;
}

.CardIcon {
  color: #000000;
  display: inline-block;
  transition: transform 0.2s;
}

.CardIcon:hover {
  color: #ff0000;
  transform: scale(1.15);
}

.CardIconInterest {
  color: #000000;
  display: inline-block;
  transition: transform 0.2s;
}

.CardIconInterest:hover {
  color: #003cff;
  transform: scale(1.15);
}

.CardIconInterested {
  color: #003cff;
  display: inline-block;
  transition: transform 0.2s;
}

.CardIconInterested:hover {
  color: #000000;
  transform: scale(1.15);
}

.CardIconRegister {
  color: #000000;
  display: inline-block;
  transition: transform 0.2s;
}

.CardIconRegister:hover {
  color: #ff0015;
  transform: scale(1.15);
}

.CardIconRegistered {
  color: #ff0015;
  display: inline-block;
  transition: transform 0.2s;
}

.CardIconRegistered:hover {
  color: #000000;
  transform: scale(1.15);
}

.CardTitle{
  font-family: "Acme", sans-serif;
  font-size: 2rem;
}
.CardContent{
  font-family: "Ubuntu", sans-serif;
}

/* OC Card */
.OCCard {
  box-shadow: 0 0 4px black;
  height: 130px;
  width: 100%;
  border-radius: 17px;
  margin: 2.5% 0 2.5% 0;
}
.OCCard:hover {
  box-shadow: 0 0 7px black;
}

.OCCardImg {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin-left: 15%;
  margin-top: 12%;
  box-shadow: 0 0 5px grey;
}

.OCCardText {
  text-align: right;
  margin: 1%;
  margin-top: 3%;
  margin-right: 5%;
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
}

/* sidebar */

.Sidebar {
  background-color: rgba(170, 170, 170, 0.384);
  transition: background-color 0.2s;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100px;
  margin-bottom: 3%;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0 0 5px grey;
}

/* To hide scroll bar */
/* for chrome, safari ,opera */
.Sidebar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Sidebar:hover {
  background-color: rgba(126, 126, 126, 0.384);
}

.SidebarCard {
  display: inline-block;
  margin-top: 5px;
}

.SidebarCardImg {
  width: 75px;
  padding: 2px;
  border-radius: 75px;
  height: 75px;
  margin: 7px;
  box-shadow: 0px 0px 3px red;
  transition: transform 0.2s;
  /* vertical-align:top; */
}

.SidebarCardImg:hover {
  transform: scale(1.05);
}

.mainContent {
  width: 90%;
  margin-right: 5%;
  padding-top: 8%;
  margin-left: 5%;
  padding-bottom: 5%;
}

/* oc page */

.OCPageHeader {
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}

.OCPageHeaderImg {
  width: 150px;
  max-width: 80%;
  border-radius: 150px;
  margin-top: 10%;
  margin-left: 20%;
  box-shadow: 0 0 5px grey;
}

.OCPageHeaderR1 {
  padding-top: 3%;
  size: 2rem;
}
.OCPageHeaderR2 {
  padding-top: 3%;
}

.Followers{
  color:rgb(30, 106, 247);
}

.Members{
  color:rgb(255, 0, 0);
}

.OCPageHeaderR3 {
  color:rgb(75, 75, 75);
  padding-top: 3%;
  padding-left: 2.5%;
}

.OCPageBody {
  margin-top: 5%;
}

.OCPageButtons {
  width: 85%;
}

.Follow{
  padding-top: 5%;
  margin-bottom: 3%;
}

.OCListLink {
  color: black;
}

.OCListLink:hover {
  color: black;
  text-decoration: none;
}

/* Auth Page */

.AuthPageTitle {
  font-family: "Niconne", cursive;
  font-weight: 500;
  font-size: 7rem;
  text-align: center;
}

.AuthLoginDiv {
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  padding: 5%;
  width: 100%;
  margin-top: 5% ;
}

.AuthSignUpOption {
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  padding: 5%;
  width: 100%;
  margin-top: 5% ;
}

.SignupDiv {
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  box-shadow: 0 0 3px black;
}
.Signupheader {
  padding: 6% 6% 0 6%;
}
.SignupForm {
  padding: 6%;
}
/* ---------------------------EVENT PAGE-------------------------------- */

.EventPageButtonsDiv {
  width: 100%;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 2%;
}

.EventPageButtonsUpper {
  margin: 2% 5% 1% 5%;
  width: 90%;
}

.EventPageButtonsLower {
  width: 91%;
  margin-left: 4.5%;
}

/* comment section */
.CommentSectionDiv {
  width: 100%;
  box-shadow: 0 0 3px black;
  height: 540px;
  border-radius: 10px;
  margin-left: 2%;
}

.CommentsDiv {
  width: 100%;
  height: 480px;
  overflow: scroll;
  overflow-x: hidden;
}

.CommentsDiv::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.CommentsDiv::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.CommentsDiv::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.CommentsDiv::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

.CommentsDiv::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

.Comment {
  width: 90%;
  margin: 1% 5% 1% 5%;
  padding: 0.5%;
  word-wrap: wrap;
  word-break: break-word;
}
/* .Comment:hover{
    box-shadow: 0 0 2px gray;
    border-radius: 10px;
} */

.CommentUser {
  font-size: 20px;
  color: rgba(0, 37, 201, 0.726);
  font-weight: 500;
}

.CommentText {
  margin-left: 2.7%;
}

.CommentAdd {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 2%;
  padding-top: 10px;
}

/* Event Info Page */

.EventInfoDiv {
  width: 100%;
  height: 650px;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
  padding: 2.5% 5% 2.5% 5%;
  margin-bottom: 2%;
  overflow: scroll;
  overflow-x: hidden;
}
.EventInfoDiv::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.EventInfoDiv::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.EventInfoDiv::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.EventInfoDiv::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px; 
}

.EventInfoDiv::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
.EventTitle {
  margin: 5%;
  font-family: "Acme", sans-serif;
  font-weight: 500;
  text-align: center;
}

.EventPoster {
  border-radius: 10px;
  width: 90%;
  margin: 0 5% 0 5%;
  height: 900px;
  background-size: contain;
  background-repeat: no-repeat;
}
.EventInfo {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0% 5% 0% 5%;
  word-wrap: wrap;
  word-break: break-word;
  font-family: "Ubuntu", sans-serif;
  font-size: 19px;
}
.EventInfoIntro {
  font-weight: 500;
  color: rgb(85, 85, 85);
  width: 100%;
}
.EventInfoDate {
  font-weight: 500;
}
.EventInfoTime {
  margin-bottom: 10px;
  font-weight: 500;
}
.EventDateTime {
  color: rgb(250, 0, 0);
}
.EventInfoDetail{
    font-weight: 500;
    color: rgb(0, 0, 0);
    width: 100%;
}

.eventEditButton{
  background-color: #FE5F55;
  height: 45px;
  width: 45px;
  text-align: center;
  color: white;
  border-radius: 45px;
  padding-top: 5px;
  box-shadow: 0 0 3px #FE5F55;
  cursor: pointer;
  right: 40px;
  position: absolute;
  top : 10px;
}
.eventEditButton:hover{
  box-shadow: 0 0 3px black;
}


/* --------------------------------Member Requests------------------------- */

.MemberRequestDiv {
  height: 400px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 270px;
  overflow-x: hidden;
}

.MemberRequest {
  width: 264px;
  height: 50px;
  box-shadow: 0 0 2px rgb(75, 73, 73);
  margin: 3px;
  border-radius: 5px;
}

.MemberRequestDiv::-webkit-scrollbar {
  display: none;
}

.MemberRequestButton {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 30px;
  margin-top: 10px;
  padding-top: 1px;
  padding-left: 3px;
  padding-right: 3px;
}
.Left {
  margin-right: 3px;
}

.Right {
  margin-right: 3px;
}

.MRUpperText {
  color: rgba(0, 37, 201, 0.726);
  font-size: 15px;
  margin-top: 2px;
  font-weight: 550;
}

.MRLowerText {
  font-size: 15px;
  font-weight: 500;
}


.DownloadButton{
  background-color: #FE5F55;
  color : white;
  width: 53px;
  text-align: center;
  height: 53px;
  padding: 5px;
  border-radius: 53px;
  box-shadow: 0 0 5px grey;
}

.DownloadButton:hover{
  box-shadow: 0 0 6px black;
  cursor: pointer;
}