/* 
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Niconne', cursive;
font-family: 'Pacifico', cursive;
 */

/* navbar */
.ESNavbar{
    position: fixed;
    width: 100%;
    z-index: 999;
}

.ESNavbarIcon{
    color: white;
    transition: transform .2s;
}
.ESNavbarIcon:hover{
    transform: scale(1.15);
}



/* EventCards */

.ESEventCard{
    width: 300px;
    margin: 3% 2% 2% 2%;
}

.ESEventCard:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}

.CardImage{
    height: 100%;
    width: 100%;
    background-size: 100%;
    transform: scale(1);
    transition: transform .2s;
}

.overflow{
    height: 290px;
    overflow: hidden;
}

.CardImage:hover{
    transform: scale(1.2);
}

.CardIconsDiv{
    align-items: center;
}

.CardIcons{
    color: #000000;
    display: inline-block;
    transition: transform .2s;
}

.CardIcons:hover{
    color: #ff0000;
    transform: scale(1.15);
}
/* sidebar */

.Sidebar{
    background-color: rgba(192, 190, 189, 0.384);
    width: 10%;
    right : 0;
    top : 62px;
    height: 100%;
    position: fixed;
    overflow: scroll;
    padding-top: 1%;
}

.SidebarCard{
    width: 75px;
    border-radius: 75px;
    height: 75px;
    margin: 5px;
    box-shadow: 0px 0px 3px red;
}


.mainContent{
    margin-right: 10%;
    padding-top: 8%;
    margin-left: 5%;
    padding-bottom: 5%;
}
