/* login page */

.LoginHeader{
    margin-left: 10%;
    margin-bottom: 2%;
}

.LoginForm{
    margin: 0 10% 10% ;
}

/* Sign Up Page */

.SignUpHeader{
    margin-left: 10%;
    margin-bottom: 2%;
}

.SignUpForm{
    margin: 0 10% 10% ;
}